<kendo-tabstrip>
  <kendo-tabstrip-tab title="Modulok" [selected]="true">
    <ng-template kendoTabContent><module-list></module-list></ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Almodulok">
    <!-- <ng-template kendoTabContent><submodule-list></submodule-list></ng-template> -->
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Hierarchia">
    <!-- <ng-template kendoTabContent
      ><module-hierarchy></module-hierarchy
    ></ng-template> -->
  </kendo-tabstrip-tab>
</kendo-tabstrip>
