<div #container>
  <kendo-grid
    [kendoGridBinding]="gridData.data"
    [sortable]="true"
    [style.maxHeight.%]="100"
    [filterable]="true"
    (add)="addHandler()"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        themeColor="primary"
        fillMode="solid"
        size="small"
      >
        Szerepcsoport hozzárendelése
      </button>
    </ng-template>
    <kendo-grid-column
      field="roleGroupId"
      title="RoleGroupId"
      [hidden]="true"
    ></kendo-grid-column>
    <kendo-grid-column
      field="roleGroupName"
      title="Szerepcsoport"
    ></kendo-grid-column>
    <kendo-grid-column
      field="roleId"
      title="RoleId"
      [hidden]="true"
    ></kendo-grid-column>
    <kendo-grid-column field="roleName" title="Szerep"></kendo-grid-column>
    <kendo-grid-command-column [width]="35">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span
          class="material-symbols-outlined"
          (click)="removeHandler(dataItem, 'custom')"
          >delete</span
        >
      </ng-template>
    </kendo-grid-command-column>
    <ng-template kendoGridNoRecordsTemplate>
      Nincs megjelenítendő adat
    </ng-template>
  </kendo-grid>
  <assign-rolegroup
    *ngIf="editDataItem"
    [model]="editDataItem"
    [isNew]="isNew"
    (save)="saveHandler($event, 'custom')"
    (cancel)="cancelHandler()"
  ></assign-rolegroup>
  <ng-container #dialogContainer></ng-container>
  <loading-overlay
    [visible]="(loadingOverlayVisible | async) && !dialogOpened"
    loadingText=""
  ></loading-overlay>
</div>
