.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--button-primary-background-color);
  width: 40%;
}

.k-card {
  height: 48rem;
  box-shadow: var(--default-shadow);
}

.form-container {
  flex: 1 1 auto;
}

.form-caption {
  font: var(--font-headline-6);
  font-weight: var(--semi-bold);
  color: var(--default-font-color);
  margin: 1rem 0;
}

.form-descr {
  font: var(--font-text-5);
  font-weight: var(--medium);
  color: var(--secondary-font-color);
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 47rem;
  margin: auto;
}

kendo-formfield {
  margin-top: 2rem;
}

a {
  font: var(--font-text-5);
  font-weight: var(--medium);
  color: var(--link-color);
}

button {
  margin-top: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
