.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.logo img {
  width: 428px;
  height: 137px;
}

.k-card {
  height: 300px;
  box-shadow: var(--default-shadow);
}

.form-container {
  flex: 1 1 auto;
}
