.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.logo img {
  width: 428px;
  height: 137px;
}

.k-card {
  height: 300px;
  box-shadow: var(--default-shadow);
}

.form-container {
  flex: 1 1 auto;
}

.form-caption {
  font: var(--font-headline-6);
  font-weight: var(--semi-bold);
  color: var(--default-font-color);
  margin: 1rem 0;
}

.form-descr {
  font: var(--font-text-4);
  font-weight: var(--medium);
  color: var(--secondary-font-color);
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 47rem;
}
