<kendo-dialog
  [width]="400"
  [height]="320"
  (close)="closeForm()"
  class="form-dialog"
>
  <kendo-dialog-titlebar
  draggableContent>Jogosultság hozzárendelése szerephez</kendo-dialog-titlebar
  >
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="permissionId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="permission"
        text="Jogosultság"
        class="label-input-md"
      ></kendo-label>
      <kendo-combobox
        #permission
        size="small"
        fillMode="solid"
        formControlName="permission"
        [data]="permissions"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="permissionChange($event)"
      >
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-textbox hidden formControlName="roleId"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="role"
        text="Szerep"
        class="label-input-md"
      ></kendo-label>
      <kendo-combobox
        #role
        size="small"
        fillMode="solid"
        formControlName="role"
        [data]="roles"
        textField="name"
        valueField="id"
        [kendoDropDownFilter]="{ operator: 'contains' }"
        (valueChange)="roleChange($event)"
      >
      </kendo-combobox>
      <kendo-formerror>Kötelező mező</kendo-formerror>
    </kendo-formfield>
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      (click)="onCancel()"
      themeColor="secondary"
      fillMode="solid"
      size="medium"
      [disabled]="(isBusy | async)!"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      (click)="onSave()"
      themeColor="primary"
      fillMode="solid"
      size="medium"
      class="loader-button"
      [disabled]="(isBusy | async)!"
    >
      <loading-button
        [showIndicator]="(isBusy | async)!"
        [buttonText]="'Mentés'"
      ></loading-button>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
