/* button */

.k-button {
  border-radius: 4px;
  font: var(--font-text-5);
  font-weight: var(--normal);
}

.k-button-lg {
  height: 3.8rem;
}

.k-button-md {
  height: 3.4rem;
}

.k-button-sm {
  height: 3rem;
}

/* primary */

.k-button-solid-primary {
  background: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
}

.k-button-solid-primary:hover {
  border-color: transparent;
  background: var(--button-primary-hover-color);
}

.k-button-solid-primary:focus,
.k-button-solid-primary.k-focus {
  background: var(--button-primary-hover-color);
  box-shadow: var(--button-focus-shadow);
}
