:root {
  --default-font-color: #252a31;
  --secondary-font-color: #4f5e71;

  --input-focus-background-color: #e8f4fd;
  --input-border-color: #bac7d5;
  --input-border-hover-color: rgba(0, 0, 0, 0.16);
  --input-focus-icon-color: #0172cb;
  --input-error-color: #f04438;
  --input-error-background-color: #fef3f2;
  --input-error-border-hover-color: #b42318;
  --input-success-color: #12b76a;

  --checkbox-background-color: #0172cb;
  --checkbox-border-color: #0172cb;

  --link-color: #0172cb;

  --button-primary-background-color: #2b7483;
  --button-primary-hover-color: #225c68;
  --button-primary-border-color: #2b7483;
  --button-secondary-background-color: #e8edf1;
  --button-secondary-hover-color: #dce3e9;
  --button-secondary-border-color: #e8edf1;
}

/*https://www.color-hex.com/color-palette/1014735*/
