:root {
  --default-font-color: #252a31;
  --secondary-font-color: #4f5e71;

  --primary-color: #2b7483;
  --secondary-color: #80b3ba;

  --input-focus-background-color: #e8f4fd;
  --input-border-color: #bac7d5;
  --input-border-hover-color: rgba(0, 0, 0, 0.16);
  --input-focus-icon-color: #0172cb;
  --input-error-color: #f04438;
  --input-error-background-color: #fef3f2;
  --input-error-border-hover-color: #b42318;
  --input-success-color: #12b76a;

  --checkbox-background-color: #0172cb;
  --checkbox-border-color: #0172cb;

  --link-color: #0172cb;

  --button-primary-background-color: #2b7483;
  --button-primary-hover-color: #225c68;
  --button-primary-border-color: #2b7483;
  --button-primary-disabled-background-color: #80b3ba;
  --button-secondary-background-color: #e8edf1;
  --button-secondary-hover-color: #dce3e9;
  --button-secondary-border-color: #e8edf1;

  --loader-color-input: #0172cb;
  --loader-color-button: #ffffff;

  --success-color: #12b76a;
  --success-solid-color: #ecfdf3;
  --error-color: #f04438;
  --error-solid-color: #fef3f2;
  --warning-color: #f79009;
  --warning-solid-color: #fffaeb;
  --info-color: #0172cb;
  --info-solid-color: #eff8ff;
  --purple-color: #9e77ed;
  --purple-solid-color: #f9f5ff;
  --pink-color: #ee46bc;
  --pink-solid-color: #fdf2fa;

  --notification-background-color: #fafafa;
  --notification-close-button-background-color: #f5f5f5b3;
  --notification-close-button-hover-background-color: #f5f5f5;

  --appbar-hover-background-color: #80b3ba66;

  --card-hover-background-color: #f3f4f6;
  --card-hover-border-color: #e5e7eb;
  --card-border-color: #e5e7eb;

  --grid-header-background-color: #f9fafb;
  --grid-header-border-color: #e5e7eb;
  --grid-header-color: #6b7280;
  --grid-row-hover-color: #80b3ba66;

  --scrollbar-track-color: #f2f4f7;

  --scrollbar-thumb-color: #e4e7ec;

  --scrollbar-thumb-hover-color: #d0d5dd;
}

/*https://www.color-hex.com/color-palette/1014735*/
