/* popup */

.k-popup.k-list-container {
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  background: #ffffff;
  box-shadow: var(--popup-shadow);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.k-popup.k-list-container .k-list {
  background: unset;
  color: var(--default-font-color);
  padding-block: 0.4rem;
}

.k-popup.k-list-container .k-list-md {
  font: var(--font-text-6);
}

.k-list-item:hover {
  color: var(--primary-color);
  background: var(--appbar-hover-background-color);
}

.k-list-item.k-selected,
.k-list-item.k-selected:hover {
  background: var(--primary-color);
  color: white;
  font-weight: var(--medium);
}

.k-list-item.k-focus {
  box-shadow: none;
}
