/* grid */

.k-grid {
  font: var(--font-text-6);
}

.k-grid .k-grid-header {
  border-bottom: 1px solid var(--grid-header-border-color);
}

.k-grid-header,
.k-grid-header-wrap,
.k-grouping-header,
.k-grid .k-table-th,
.k-grid td,
.k-grid .k-table-td,
.k-grid-footer,
.k-grid-footer-wrap,
.k-grid-content-locked,
.k-grid-footer-locked,
.k-grid-header-locked,
.k-filter-row > .k-table-th,
.k-filter-row > td,
.k-filter-row > .k-table-td {
  border-color: transparent;
}

.k-table-thead,
.k-table-header,
.k-table-group-sticky-header {
  color: var(--grid-header-color);
  background-color: var(--grid-header-background-color);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.k-grid .k-table-th {
  font-weight: var(--medium);
}

.k-table,
.k-data-table {
  font: var(--font-text-6);
  color: var(--default-font-color);
}

.k-grid .k-table-row.k-table-alt-row {
  background-color: transparent;
}

.k-grid td,
.k-grid .k-table-td {
  border-bottom: 1px solid var(--grid-header-border-color);
}

.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
  background-color: var(--grid-row-hover-color);
  color: var(--primary-color);
}

.k-grid .k-table-td .material-symbols-outlined {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--secondary-font-color);
}

.k-grid .k-table-tbody > .k-table-row:hover .material-symbols-outlined {
  color: var(--primary-color);
}

/* sorting */

.k-grid-header .k-sort-icon {
  color: var(--primary-color);
}

/* filter */

.k-filtercell .k-input-md,
.k-filtercell .k-picker-md,
.k-filter-menu .k-picker-md,
.k-filter-menu .k-input-md {
  height: 3.2rem;
  font: var(--font-text-6);
}

.k-dropdown-operator.k-picker-md,
.k-dropdown-operator.k-picker-md .k-input-button,
.k-filter-row td .k-button-solid-base {
  border: unset;
  background-color: transparent;
  background-image: none;
}

.k-picker-solid:focus,
.k-picker-solid.k-focus,
.k-filter-row td .k-button-solid-base {
  box-shadow: none;
  color: var(--secondary-font-color);
}

.k-filtercell-operator .k-button-solid-base {
  padding-top: 0.6rem;
}

.k-i-filter {
  color: var(--secondary-font-color);
}

.k-filtercell .k-input-spinner {
  display: none;
}

.k-dropdown-operator.k-picker-md + .k-button-solid-base {
  position: relative;
}

.k-dropdown-operator.k-picker-md:has(+ .k-button-solid-base) {
  display: none;
}
