.k-loader-primary {
  color: var(--loader-color-input);
  margin-right: 0.5rem;
}

.loading-panel-wrapper .k-loader-primary {
  color: var(--primary-color);
}

.k-button-solid-primary .k-loader-primary {
  color: var(--loader-color-button);
  position: absolute;
  right: 100%;
}

.k-dialog-actions .k-loader-primary {
  position: relative;
  right: 0%;
}

.k-button-solid-primary .k-loader-primary.hide-loader {
  display: none;
}
