@import "fonts.css";
@import "shadows.css";
@import "labels.css";
@import "inputs.css";
@import "buttons.css";
@import "form.css";
@import "indicators.css";
@import "alert.css";
@import "appbar.css";
@import "avatar.css";
@import "drawer.css";
@import "treeview.css";
@import "layout.css";
@import "grid.css";
@import "dropdowns.css";
@import "dialog.css";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
