.k-treeview-lg {
  font: var(--font-text-4);
}

.k-treeview-md {
  font: var(--font-text-5);
}

.k-treeview-sm {
  font: var(--font-text-6);
}

.k-treeview-leaf {
  border: 1px solid transparent;
}

.k-treeview-leaf.k-selected {
  background: #ffffff;
  color: var(--primary-color);
  background-color: var(--appbar-hover-background-color);
  font-weight: var(--medium);
  border-left: 0.2rem solid var(--primary-color);
}
