<kendo-tabstrip>
  <kendo-tabstrip-tab title="Szerepcsoportok">
    <ng-template kendoTabContent><rolegroup-list></rolegroup-list></ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Szerepek" [selected]="true">
    <!-- <ng-template kendoTabContent><role-list></role-list></ng-template> -->
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Hierarchia">
    <!-- <ng-template kendoTabContent
        ><assign-to-group></assign-to-group
      ></ng-template> -->
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Szerepek és jogosultságok">
    <!-- <ng-template kendoTabContent> assign to privilege </ng-template> -->
  </kendo-tabstrip-tab>
</kendo-tabstrip>
