<kendo-grid
  [kendoGridBinding]="gridData.data"
  [sortable]="true"
  [style.maxHeight.%]="100"
  [filterable]="true"
  (add)="addHandler()"
>
  <ng-template kendoGridToolbarTemplate>
    <button
      kendoGridAddCommand
      themeColor="primary"
      fillMode="solid"
      size="small"
    >
      Új funkció
    </button>
  </ng-template>
  <kendo-grid-column field="id" title="Id" [hidden]="true"></kendo-grid-column>
  <kendo-grid-column field="name" title="Funkció"></kendo-grid-column>
  <kendo-grid-column field="subModule.name" title="Almodul"></kendo-grid-column>
  <kendo-grid-column field="module.name" title="Modul"></kendo-grid-column>
  <kendo-grid-command-column [width]="70">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span class="material-symbols-outlined" (click)="editHandler(dataItem)"
        >edit</span
      >
      <span class="material-symbols-outlined" (click)="removeHandler(dataItem)"
        >delete</span
      >
    </ng-template>
  </kendo-grid-command-column>
  <ng-template kendoGridNoRecordsTemplate>
    Nincs megjelenítendő adat
  </ng-template>
</kendo-grid>
<!-- <create-operation
  *ngIf="editDataItem"
  [model]="editDataItem"
  [isNew]="isNew"
  [modules]="modules"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
></create-operation> -->
<div kendoDialogContainer></div>
<loading-overlay
  [visible]="(loadingOverlayVisible | async) && !dialogOpened"
  loadingText=""
></loading-overlay>
