<kendo-dialog
  [width]="400"
  [height]="220"
  (close)="closeForm()"
  class="form-dialog"
>
  <kendo-dialog-titlebar>{{
    isNew ? "Új modul" : "Modul módosítása"
  }}</kendo-dialog-titlebar>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <kendo-formfield>
      <kendo-textbox hidden formControlName="id"></kendo-textbox>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label
        [for]="name"
        text="Modul megnevezése"
        class="label-input-md"
      ></kendo-label>
      <kendo-textbox size="small" fillMode="solid" formControlName="name" #name>
      </kendo-textbox>
      <kendo-formerror *ngIf="form.controls.name.errors?.['required']"
        >Kötelező mező</kendo-formerror
      >
    </kendo-formfield>
    <button type="submit" hidden></button>
  </form>
  <kendo-dialog-actions>
    <button
      type="button"
      kendoButton
      (click)="onCancel()"
      themeColor="secondary"
      fillMode="solid"
      size="medium"
      [disabled]="(isBusy | async)!"
    >
      Mégsem
    </button>
    <button
      type="submit"
      kendoButton
      (click)="onSave()"
      themeColor="primary"
      fillMode="solid"
      size="medium"
      class="loader-button"
      [disabled]="(isBusy | async)!"
    >
      <loading-button
        [showIndicator]="(isBusy | async)!"
        [buttonText]="'Mentés'"
      ></loading-button>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
