<kendo-grid
  [kendoGridBinding]="gridData.data"
  [sortable]="true"
  [filterable]="true"
  [style.maxHeight.%]="100"
  (add)="addHandler({ permission: buPerm.CREATE_BU })"
>
  <ng-template kendoGridToolbarTemplate>
    <button
      kendoGridAddCommand
      themeColor="primary"
      fillMode="solid"
      size="small"
    >
      Új BU
    </button>
  </ng-template>
  <kendo-grid-column
    field="id"
    title="Id"
    [hidden]="true"
    filter="numeric"
  ></kendo-grid-column>
  <kendo-grid-column field="name" title="BU"></kendo-grid-column>
  <kendo-grid-command-column [width]="70">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span
        class="material-symbols-outlined"
        (click)="
          editHandler(dataItem, {
            permission: buPerm.EDIT_BU,
            constraint: {
              objectName: 'bu',
              objectField: 'id',
              dataItem: dataItem
            }
          })
        "
        >edit</span
      >
      <span
        class="material-symbols-outlined"
        (click)="
          removeHandler(dataItem, 'default', {
            permission: buPerm.DELETE_BU,
            constraint: {
              objectName: 'bu',
              objectField: 'id',
              dataItem: dataItem
            }
          })
        "
        >delete</span
      >
    </ng-template>
  </kendo-grid-command-column>
  <ng-template kendoGridNoRecordsTemplate>
    Nincs megjelenítendő adat
  </ng-template>
</kendo-grid>
<create-bu
  *ngIf="editDataItem"
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event, 'default')"
  (cancel)="cancelHandler()"
></create-bu>
<div kendoDialogContainer></div>
<loading-overlay
  [visible]="(loadingOverlayVisible | async) && !dialogOpened"
  loadingText=""
></loading-overlay>
