<kendo-grid
  [kendoGridBinding]="gridData.data"
  [sortable]="true"
  [filterable]="true"
  [style.maxHeight.%]="100"
>
  <ng-template kendoGridToolbarTemplate>
    <button
      kendoGridAddCommand
      themeColor="primary"
      fillMode="solid"
      size="small"
      (click)="openAssignDialog()"
    >
      Szerepcsoport hozzárendelése
    </button>
  </ng-template>
  <kendo-grid-column
    field="id"
    title="Id"
    [hidden]="true"
    filter="numeric"
  ></kendo-grid-column>
  <kendo-grid-column
    field="routeName"
    title="Elérési útvonal"
  ></kendo-grid-column>
  <kendo-grid-column
    field="roleGroupName"
    title="Szerepcsoport"
  ></kendo-grid-column>
  <kendo-grid-command-column [width]="35">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span
        class="material-symbols-outlined"
        (click)="removeHandler(dataItem, 'default')"
        >delete</span
      >
    </ng-template>
  </kendo-grid-command-column>
  <ng-template kendoGridNoRecordsTemplate>
    Nincs megjelenítendő adat
  </ng-template>
</kendo-grid>
<div kendoDialogContainer></div>
<assign-to-route
  *ngIf="active"
  [routes]="routes"
  [roleGroups]="roleGroups"
  (save)="saveHandler($event, 'default')"
  (cancel)="cancelHandler()"
></assign-to-route>
<loading-overlay
  [visible]="(loadingOverlayVisible | async) && !dialogOpened"
  loadingText=""
></loading-overlay>
