<p class="form-caption">Jelentkezz be a fiókodba</p>
<p class="form-descr">Kérünk, add meg a helyes felhasználóneved és jelszavad</p>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <kendo-formfield>
    <kendo-label
      [for]="email"
      text="E-mail*"
      class="label-input-lg"
    ></kendo-label>
    <kendo-textbox
      #email
      formControlName="userEmail"
      placeholder="sajat@e-mail-cimem.hu"
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <span class="material-symbols-outlined">mail</span>
        <kendo-textbox-separator></kendo-textbox-separator>
      </ng-template>
    </kendo-textbox>
    <kendo-formerror *ngIf="loginForm.controls.userEmail.errors?.['required']"
      >Kötelező mező</kendo-formerror
    >
    <kendo-formerror *ngIf="loginForm.controls.userEmail.errors?.['email']"
      >Hibás e-mail formátum</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield
    ><kendo-label
      [for]="password"
      text="Jelszó*"
      class="label-input-lg"
    ></kendo-label>
    <kendo-textbox
      #password
      formControlName="password"
      placeholder="●●●●●●●●●●●●●●●●●"
    >
      <ng-template kendoTextBoxPrefixTemplate>
        <span class="material-symbols-outlined">key</span>
        <kendo-textbox-separator></kendo-textbox-separator>
      </ng-template>
      <ng-template kendoTextBoxSuffixTemplate>
        <span
          class="material-symbols-outlined toggle-password"
          (click)="togglePass()"
          >{{ passwordVisible ? "visibility" : "visibility_off" }}</span
        >
      </ng-template>
    </kendo-textbox>
    <kendo-formerror>Kötelező mező</kendo-formerror>
  </kendo-formfield>
</form>
