<kendo-appbar
  position="top"
  positionsMode="sticky"
  (click)="appBarClicked($event)"
>
  <kendo-appbar-section class="app-bar-icons hamburger">
    <span
      id="toggleBtn"
      class="material-symbols-outlined"
      (click)="toggleNavbar()"
      >menu</span
    >
  </kendo-appbar-section>
  <kendo-appbar-section>
    <div class="appbar-btn" (click)="goHome()">Home</div>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <div class="appbar-btn" (click)="showAdminArea()">Admin</div>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
    <img class="logo-symbol" src="/assets/logo-symbol.png" alt="logo-symbol" />
    <span class="logo-text">Integrated Business Planning</span>
  </kendo-appbar-section>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section class="app-bar-icons">
    <span class="material-symbols-outlined">language</span>
    <span class="material-symbols-outlined">search</span>
    <span class="material-symbols-outlined">notifications</span>
    <span class="material-symbols-outlined" (click)="logout()">logout</span>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <kendo-avatar [initials]="initials" size="medium"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>
