.appbar-btn {
  cursor: pointer;
  font: var(--font-text-5);
  font-weight: var(--medium);
  color: var(--p-grey-500);
  padding: 0.5rem;
}

.appbar-btn:hover {
  color: var(--p-blue-500);
  background-color: var(--p-blue-50);
  border-radius: 6px;
}
