.appbar-btn {
  cursor: pointer;
  font: var(--font-text-5);
  font-weight: var(--medium);
  padding: 0.5rem;
}

.appbar-btn:hover {
  background-color: var(--appbar-hover-background-color);
  border-radius: 0.8rem;
}

.logo-symbol {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 1rem;
}

.logo-text {
  font: var(--font-text-5);
  font-weight: var(--semi-bold);
}
